$flex-map : (
    start : flex-start;
    end : flex-end;
    between: space-between;
    around : space-around;
    stretch : stretch;
    center : center;
);


@function _get-flex-value() {
    @return map-get($flex-map, $key);
    
}


@mixin flexbox($jc : center, $ai : center) {

    display: flex;
    align-items: $ai;
    justify-content: $jc;


}

@mixin inline-flexbox($jc : center, $ai : center) {

    display: inline-flex;
    align-items: $ai;
    justify-content: $jc;


}

@mixin column-flexbox($jc : center, $ai : center) {

    display: flex;
    flex-direction: column;
    align-items: $ai;
    justify-content: $jc;


}
