@mixin pos-center-x($type: absolute) {
<<<<<<< HEAD
    @if ($type == fixed or $type == absolute) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
    }
=======
   
    @if ($type == fixed or $type == absolute) {

    position: $type;
    left: 50%;
    transform: translateX(-50%);

    }


>>>>>>> 68ff61e20b31135730fc4c535d93a1b7ee6bbbcc
}


@mixin pos-center-y($type: absolute) {
<<<<<<< HEAD
    @if ($type == fixed or $type == absolute) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
=======
   
    @if ($type == fixed or $type == absolute) {

    position: $type;
    top: 50%;
    transform: translateX(-50%);

>>>>>>> 68ff61e20b31135730fc4c535d93a1b7ee6bbbcc
    }
}

@mixin pos-center($type: absolute) {
<<<<<<< HEAD
=======
   
>>>>>>> 68ff61e20b31135730fc4c535d93a1b7ee6bbbcc
    @if ($type == fixed or $type == absolute) {

        position: $type;
        top: 50%;
<<<<<<< HEAD
        left: 50%;
        transform: translate(-50%, -50%);
=======
        left: 50%
        transform: translate(-50% -50%);
>>>>>>> 68ff61e20b31135730fc4c535d93a1b7ee6bbbcc
    }
}



