.drawer-menu {
    $drawer-menu-item-height: 36px;
    $community-menu-item-length: 8;
    $community-menu-item-length: 8;
    $community-menu-item-length: 8; 
    &.is-active {
        .drawer-menu-button {
            color: $blue;
        }
    }

    &.is-open {
        &.is-community {
            .drawer-menu-content {
                max-height: 296px;
            }
        }

        .drawer-menu-button .ic-chevron{
            transform: trnaslateY(-50%) rotate(180deg);
        }
        .drawer-menu-content {
            max-height: 500px;
        }

        .drawer-menu-list {
            padding-bottom: 8px;
        }
    }

    &-button {
        @include flexbox(start);
        @include text-style(18, $primary);
        width: 100%;
        height: 54px;
        padding: 0 8px;
        position: relative;
        font-weight: 700;
        transition: color .2s ease-in-out;

        i{
            &:first-child {
                position: relative; //todo check
                top: 1px;
                margin-right: 8px;
                font-size: 24px;
                color: $primary;
            }

            &:last-child {
                @include pos-center-y;
                right: 8px;
                font-size: 16px;
                color: $primary;
                
                transition: transform .2s ease-in-out;
            }
        }
    }

    &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in-out;
        // display: none;
        // transition: display .2s ease-in-out;
    }

    &-item {
        &.is-active {
            a {
                color: $blue;
            }
        }
        a {
            @include text-style(14, $primary);
            @include flexbox(start);
            width: 100%;
            height: $drawer-menu-item-height;
            padding: 0 12px;
            font-weight: 700;
            

        }

        .ic-new {
            font-size: 16px;
            color: $red;

        }
    }
}