.product-carousel {
    $gird-margin: 15px;

    position: relative;

    &-slider {
        margin: 0 -#{$gird-margin};
    }


    &-thumbnail {
     
        @include pos-center-x;
        bottom: 16px;

    }

    .thumbnail-list {
           
        @include flexbox;
    }


    .thumbnail-item {
        @include flexbox;
        margin: 0 4px;

        &.tns-nav-active {
            button {
                background-color: $white;
                transform: scale(1.33333);
                opacity: 1;
            }
        }

        button {
      
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $white;
            opacity: 0.7;;
            transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out;
        }

        img {
            display: none;
        }
    }

    img {
        display: block;
        width: 100%; 
        height: auto;
       }
  }